<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SvgToJwwConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SvgToJwwConverter.Properties.Settings>
            <setting name="IsUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowLeft" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="WindowTop" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="EnableOverwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenJwwAfterConversion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CurveDiv" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="OnlyLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PenNumber" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="JwwPaperCode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="JwwScaleValue" serializeAs="String">
                <value>1</value>
            </setting>
        </SvgToJwwConverter.Properties.Settings>
    </userSettings>
</configuration>